.logo {
    max-width: 160px !important;
    max-height: 22px !important;
}

* {
    font-family: 'Barlow', sans-serif;
}

.nav-item a {
    font-size: 16px;
    font-weight: 500;
    color: #515254 !important;
    padding: 16px 0px !important;
}

.bg-img {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}


.nav-link:hover {
    color: blue !important;
}

.page-title {
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
    color: #111724;
}

.header-subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #797d85;
    margin-bottom: 25px;
}

.header-sub2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: #212529;
}

.btn {
    padding: 12px 32px;
}

.card {
    border: none;
}

.hero1,
.features,
.testimonials,
.download-app {
    padding: 200px 0px;
}

.about{
    padding-top: 300px;
    padding-bottom: 200px;
}

.list-item,
.promo-description,
.carousel-header {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #797d85;
}

.paragraph {
    margin-bottom: 20px;
}

.bi-check-lg {
    color: #2cb34c;
}

.promo-box {
    background-color: #fff;
    margin-bottom: 2rem;
    padding: 2.5rem 2rem;
    border-radius: 0.25rem;
    box-shadow: 0px 2px 8px rgb(0 30 60 / 3%);
}

.promo-content {
    margin-top: 40px;
    padding-bottom: 60px;
}

.download {
    min-width: 100px;
    min-height: 100px;
    border-radius: 100%;
    text-align: center;
}

.download-icon {
    width: 40px;
    color: #fff;
    margin-top: 23px;
}

.promo-text {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin: 0 !important;
}

.downloads,
.users {
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
}

.about-img {
    margin-bottom: 50px;
}

.team-text {
    font-size: 44px;
    line-height: 53px;
    font-weight: 700;
    color: #111724;
    padding: 60px 0px;
}

.card-img {
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.card p {
    font-size: 14px;
    line-height: 21px;
    color: #797d85;
}

.card-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #111724;
}

.btn-circle {
    border-radius: 100%;
}

.btn-icon {
    padding: 5px 10px;
}

a.btn {
    display: inline-block;
}

.card-body {
    padding: 4rem 2rem;
}

.container {
    max-width: 94%;
}

.promo-icon {
    width: 36px;
    position: absolute;
    float: right;
    right: 0;
}

.promo-left {
    float: left;
    left: 0;
}

.promo-container2 {
    padding-left: 60px;
    position: relative;
}

.promo-container {
    padding-right: 60px;
    position: relative;
}

.promo-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.img-text {
    color: #111724;
}

.carousel-item {
    margin-bottom: 150px;
}

.rating {
    color: #fdd639;
    margin-bottom: 24px;
}

.testimonial-message {
    margin-bottom: 15px;
}

.half {
    font-size: 22px;
}

.middle {
    font-size: 12px;
}

.img-area img {
    border-radius: 50%;
    width: 180px;
}

.name {
    font-size: 12;
    font-weight: 400;
    color: #797d85;
}

.footer-text {
    font-size: 18px;
    line-height: 27px;
}

.footer {
    padding: 48px 0px;
}


.navbar-toggler .icon-bar {
    display: block;
    width: 34px;
    height: 3px;
    border-radius: 0;
}

.navbar-toggler .icon-bar {
    background-color: #111724;
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .3s;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .55);
    border-color: rgba(0, 0, 0, .1);
}

.navbar-toggler .icon-bar+.icon-bar {
    margin-top: 6px;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px);
    transition: ease all .3s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    transition: ease all .3s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
    transition: ease all .3s;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.download-btn{
    margin: 5px;
}

.ms-0{
    margin-left: 0 !important;
}



@media (min-width:992px) {
    .hero-content {
        margin-top: 100px;
    }

    .container {
        max-width: 85%;
    }

    .nav-item a {
        padding: 16px !important;
    }

    .footer-left {
        text-align: left !important;
    }

    .footer-end {
        text-align: end;
    }

}

.btn-animation {
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform-origin: bottom;
}


.btn-animation:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5px);
    }
}